@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h5 {
    font-weight: bold;
}

.seccion p{
    text-align: justify;
}

.custom-icon-fan {
    color: white;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.custom-icon {
    color: rgb(150, 150, 150);
    padding: 10px;
}

.link-body-emphasis:hover i {
    transform: scale(1.2);
    /* Aumenta el tamaño al hacer hover */
    transition: transform 0.3s ease;
    /* Agrega una transición suave */
}

.serv_abg {
    scroll-margin-top: 300px;
}

.serv_med {
    scroll-margin-top: 180px;
}

.cont {
    scroll-margin-top: 170px;
}

/* nav */

.navbar {
    background-color: #fff;
}

.navbar-brand>img {
    width: 10rem;
}

.navbar-brand>span {
    color: #4144ad;
    font-size: 100%;
    font-weight: bold;
}

.nav>a {
    color: #495057;
    font-weight: bold;
}

/* FIN nav */

/*Inicio Estilos para la sección que se desvanecerá*/
.fadeTop {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/*Fin Estilos para la sección que se desvanecerá*/

/* SECCION INICIO */

.cabecera {
    color: #4144ad;
    font-weight: bold;
    padding: 240px 0 75px 0;
}

.section_inicio {
    background-image: url('/public/images/fondoAbogado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 90vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.transparencia-inicio {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 90vh;
}

.section_inicio h1 {
    font-size: 60px;
    font-weight: bold;
}

.section_inicio p {
    font-size: 30px;
}

.section_inicio img {
    height: 60px;
}

.section_inicio span {
    font-weight: bold;
}

/* FIN SECCION INICIO */

/* CONTACTO INTERMEDIO */
.whapp_inter {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    background-color: #4144ad;
    border-radius: 60px;
    padding: 20px;
    margin: 20px;
}

.whapp_inter h5 {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}

/* FIN CONTACTO INTERMEDIO */

/* SECCION MEDIACION */
.seccion {
    position: relative;
    color: #000000;
    font-weight: bold;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
}
/* FIN SECCION MEDIACION */

/* SECCION CONTACTO */

.section_six form input {
    padding: 15px;
    margin: 10px;
}

.section_six form textarea {
    padding: 15px;
    margin: 10px;
}

.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.button.effect3 {
    color: #4144ad;
}

.button.effect3.effect3::after,
.button.effect3.effect3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.effect3.effect3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #4144ad;
    border-right-color: #4144ad;
}

.button.effect3.effect3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #4144ad;
    border-left-color: #4144ad;
}

.button.effect3.effect3:hover:after,
.button.effect3.effect3:hover:before {
    border-bottom-color: #4144ad;
    border-right-color: #4144ad;
    border-top-color: #4144ad;
    border-left-color: #4144ad;
    width: 100%;
    height: 100%;
}

/* FIN SECCION CONTACTO */

/* FOOTER */
footer {
    color: rgba(255, 255, 255);
}

footer a {
    color: rgba(255, 255, 255);
    text-decoration: none;
}

/*FIN DE FOOTER */

/* RESPONSIVE */
@media only screen and (max-width: 767px) {

    nav {
        padding: auto;
        margin-top: 0.5rem;
    }

    .navbar-brand>img {
        width: 6rem;
    }

    .section_inicio{
        background-size: contain 10;
        background-attachment: scroll; /* Cambia a scroll para mejorar el rendimiento en móviles */
        height: 10vh;
        margin-top: 10rem; /* Ajusta los márgenes según sea necesario */
        margin-bottom: 1rem;
    }

    .container-fluid .section_inicio {
        width: auto;
        /* ajusta el ancho según tus necesidades */
        height: 240px;
        /* ajusta la altura según tus necesidades */
    }

    .container-fluid .section_inicio .transparencia-inicio {
        width: auto;
        /* ajusta el ancho según tus necesidades */
        height: 300px;
        /* ajusta la altura según tus necesidades */
    }

    .cabecera {
        padding: 60px;
    }

    .cabecera h1 {
        font-size: 30px;
    }

    .cabecera p {
        font-size: 25px;
    }

    .what {
        max-width: auto;
        max-height: 10px;
    }

    .what h5 {
        font-size: 20px;
    }

    .what-ico a i {
        padding-top: 15px;
        font-size: 50px;
    }

    footer iframe {
        width: 80%;
    }

}

/* FIN RESPONSIVE */
